.fa-play-circle{
    color: #43B97E;
}

.fa-play-circle:hover{
    color: #0056B3;
}

table, th, td {
    border:1px solid black;
    font-size: large;
    color: black;
    cursor: pointer;
  }

  th{
      text-align: center;
      width: 150px
  }
th:hover{
      background-color: rgb(19, 219, 19) !important;
  }

  .correct{
      background-color: greenyellow;
  }

  .incorrect{
      background-color: red;
  }

  #question1{display: none}
  #question2{display: none}
  #question3{display: none}

  #startoButton{
    width: 100px;
    font-size: 150%;
}

    #startoButton:hover{
        background-color: rgb(206, 255, 133);
    }
.green{
    color: yellowgreen
}
.red{
    color: red
}