.fa-play-circle {
  color: #43b97e;
}

.fa-play-circle:hover {
  color: #0056b3;
}

#section1 table {
  border: 1px solid black;
  font-size: large;
  color: black;
}
#section1 th {
  border: 1px solid black;
  font-size: large;
  color: black;
}

#section1 td {
  border: 1px solid black;
  font-size: large;
  color: black;
}

#section1 th:hover {
  background-color: rgb(19, 219, 19) !important;
  cursor: pointer;
}
.backRed {
  background-color: red;
}
.backGreen {
  background-color: yellowgreen;
}

#section1 th:hover {
  background-color: rgb(19, 219, 19) !important;
  cursor: pointer;
}
/* Styling for the table in exercise 4; days and months page */
#section4 table {
  border: 1px solid black;
  font-size: large;
  color: black;
}
#section4 th {
  border: 1px solid black;
  font-size: large;
  color: black;
  cursor: pointer;
}
@media only screen and (max-width: 415px){
  #section4 th{
    border: 1px solid black;
  font-size: small;
  color: black;
  cursor: pointer;
  }
  #section4 td{
    border: 1px solid black;
  font-size: large;
  color: black;
  }
  #ic1{
    font-size: 2em;
  }
  #ic2{
    font-size: 2em;
  }
  #ic4{
    font-size: 2em;
  }
  #ic3{
    font-size: 2em;
  }
  #ic1_2{
    font-size: 2em;
  }
  #ic2_2{
    font-size: 2em;
  }
  #ic4_2{
    font-size: 2em;
  }
  #ic3_2{
    font-size: 2em;
  }
/* #section3_1 table{
  border: 1px solid black;
  font-size: 5em;
  width: 1em !important;
}
#section3_1{
  width: 1em !important;
}
#section3_1_A{
  width: 1em !important;
} */
}
#section4 td {
  border: 1px solid black;
  font-size: large;
  color: black;
}

/*Styling for the first exercises on page 3: ABC table*/

#section3_1 table {
  border: 1px solid black;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
}

#section3_1 th {
  font-size: large;
  cursor: pointer;
  padding: 1em;
}
#section3_1 th:hover {
  border: 2px dotted black; /*Create a dotted box when hovering*/
  background-color: yellowgreen;
}

/* Styling for third exercise on page 3: Listen and type letter */
#section3_3 table {
  border: 2px solid black;
}

#section3_3 input {
  border: 1px dashed grey;
  width: 10%;
}

#section3_3 button:hover {
  cursor: pointer;
}

/* Styling for the fourth exercise on page 3: Write letters in right order */

#section3_4 {
  margin: 0;
  padding: 0;
}

#section3_4 p {
  margin: 0;
  padding: 0;
}

.let_order {
  border-bottom: solid black;
  width: 1.5%;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.right_order {
  border-bottom: solid green;
  width: 1.5%;
  user-select: none;
  text-transform: capitalize;
}

.wrong_order {
  border-bottom: dotted red;
  width: 1.5%;
  user-select: none;
  text-transform: capitalize;
}

/* Change the background color of answers */
.backRed {
  background-color: red;
}

.backGreen {
  background-color: yellowgreen;
}

/*Remove pointer and clickability*/
.noclick {
  pointer-events: none;
  cursor: none;
}

th {
  text-align: center;
  width: 150px;
}

.correct {
  background-color: greenyellow;
}

.incorrect {
  background-color: red;
}

#question1 {
  display: none;
}
#question2 {
  display: none;
}
#question3 {
  display: none;
}

#startoButton {
  width: 100px;
  font-size: 150%;
    margin-left: 45%;
    margin-bottom: 1em;
}

#startoButton:hover {
  background-color: rgb(206, 255, 133);
}
.green {
  color: yellowgreen; /*The same as correct above*/
}
.red {
  color: red; /*The same as correct above*/
}
.ul {
  text-decoration: dotted underline;
}

.fillInBlankCapital {
  width: 30px;
  text-align: center;
}
.fillInBlank {
  text-align: center;
  width: 30px;
}
.divide {
  display: none;
}
#sec3 span{
  font-size: 35px;
}
#sec3 input{
  font-size: 35px;
}

.matchTable {
  border: 1px solid black;
  font-size: large;
  color: black;
  cursor: pointer;
}

.matchTable tr {
  border: 1px solid black;
  font-size: large;
  color: black;
  cursor: pointer;
  height: 50px;
}
.disable {
  background-color: rgb(179, 179, 179);
  color: ghostwhite;
  cursor: not-allowed;
}
.disable {
  background-color: rgb(179, 179, 179);
  color: ghostwhite;
  cursor: not-allowed;
}

/*Carter drag and drop (section 5)*/
/* #div1 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
#div2 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
#div3 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
#div4 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
#div5 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
#div6 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
#div7 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
	#div8 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
	#div9 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
	#div10 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
	#div11 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
	#div12 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
} */
/* #drag1{
  width: auto;
  height: 50px;
  display: inline;
}
#drag2 {
  width: auto;
  height: 50px;
  display: inline;
}
#drag3 {
  width: auto;
  height: 50px;
  display: inline;
}
#drag4 {
  width: auto;
  height: 50px;
  display: inline;
}
#drag5 {
  width: auto;
  height: 50px;
  display: inline;
}
#drag6 {
  width: auto;
  height: 50px;
  display: inline;
}
#drag7 {
  width: auto;
  height: 50px;
  display: inline;
}
#drag8{
  width: auto;
  height: 50px;
  display: inline;
}
#drag9{
  width: auto;
  height: 50px;
  display: inline;
}
#drag10{
  width: auto;
  height: 50px;
  display: inline;
}
#drag11{
  width: auto;
  height: 50px;
  display: inline;
}
#drag12{
  width: auto;
  height: 50px;
  display: inline;
} */
/* #div1 img{
  text-align: center;
  width: auto;
  height: 100%;
}
#div2 img {
  text-align: center;
  width: auto;
  height: 100%;
}
#div3 img {
  text-align: center;
  width: auto;
  height: 100%;
}
#div4 img {
  text-align: center;
  width: auto;
  height: 100%;
}
#div5 img {
  text-align: center;
  width: auto;
  height: 100%;
}
#div6 img {
  text-align: center;
  width: auto;
  height: 100%;
}
#div7 img {
  text-align: center;
  width: auto;
  height: 100%;
}
#div8 img{
  text-align: center;
  width: auto;
  height: 100%;
}
#div9 img{
  text-align: center;
  width: auto;
  height: 100%;
}
#div10 img{
  text-align: center;
  width: auto;
  height: 100%;
}
#div11 img{
  text-align: center;
  width: auto;
  height: 100%;
}
#div12 img{
  text-align: center;
  width: auto;
  height: 100%;
} */



#confirmMessage {
  font-size: x-large;
  font-weight: bold;
}
.screenSizeError {
  display: none;
}
.screenSizeErrorDnD {
  display: none;
}
@media only screen and (max-width: 540px) {
  /* #matchParent {
    display: none;
  }

  .screenSizeError {
    display: block;
  } */
  
  .matchTable th{
    width: 100px !important;
  }
}
/* @media only screen and (max-width: 1200px) {
  #dragAndDropContainer {
    display: none;
  }

  .screenSizeErrorDnD {
    display: block;
  }
} */
@media only screen and (max-width: 650px){
  .pattern-layer-three{
    display: none;
  }
}
.lASTable{
  font-size: large;
  display: inline-table;
  width: 15em;
}
.lASTable tr{
  border: 1px solid black;
  height: 4em;
}
.lASTable th{
  width: 40px;
  height: 40px;
  font-size: 35px;
}
.s2Num:hover{
  border: dashed;
border-width: 2px 2px;
border-radius: 40px;
}
.s2NumA:hover{
  border: dashed;
border-width: 2px 2px;
border-radius: 40px;
}
.s2Play{
  background-color: greenyellow; 
  border-right: 1px solid black;
}
.s2Play:hover{
  background-color: rgb(19, 219, 19)
}

.s4Answers{
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.s4Answers:hover{
  border: dashed;
border-width: 3px 3px;
cursor: pointer;
}
.s4First{
  width: 40px;
  height: 40px;
  font-size: 40px;
  border-right: 2px solid black;

}
.winnerWinner{
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: yellowgreen;
}
.loser{
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.loserLoser{
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: red;
}
* {
  box-sizing: border-box;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

.card {
  float: left;
  margin: 10px;
  height: 200px;
  width: 150px;
  background: yellowgreen;
  text-align: center;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #ccc;
}

.card:hover {
  cursor: pointer;
  border: 3px solid blue;
}

.card p {
  font-size: 48px;
  color: blue;
}

#quiz table {
  border: 1px solid black;
  font-size: large;
  color: black;
  cursor: pointer;
  margin: auto;
}
#quiz th {
  border: 1px solid black;
  /* font-size: large; */
  color: black;
  width: 15em;
  font-size: 30px;
  height: 1.5em;
  cursor: pointer;
}
#quiz td {
  font-size: large;
  color: black;
  cursor: pointer;
}

.inputs{
width:1em;
display: inline;
border-bottom: 1px solid black;
text-align: center;
margin-left: 2px;
margin-right: 2px;
}
.notinputs{
  font-size: 35px;
display: inline;
}
.s3Hints{
  visibility: hidden;
}

.dNDText{
  width: 100%;
  border: 1px solid black;
  margin-left: auto;
  height: 100%;
  vertical-align: top;
}
.drops{
  display: inline-block;
  text-align: center; 
  border: 2px solid black;
  width: 10em;
  vertical-align: top;
  height: 3em;
}
.dragDiv {
  display: inline-block;
  text-align: center; 
  border: 2px solid black;
  width: 10em;
  height: 3em;
}
.noDrop:hover{
  cursor: pointer !important;
}

/*Snackbar CSS*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

.fullWords li{
  list-style: disc;
}

.s7Left li{
  margin-top: 1em;
  font-size: 35px;
}

#humanHead{
  background: transparent;
  border: none !important;
  font-size:0;
}
.bodyMap:hover{
  cursor: pointer;
}