.fa-play-circle {
  color: #43b97e;
}

.fa-play-circle:hover {
  color: #0056b3;
}

#section1 table {
  border: 1px solid black;
  font-size: large;
  color: black;
}
#section1 th {
  border: 1px solid black;
  font-size: large;
  color: black;
}

#section1 td {
  border: 1px solid black;
  font-size: large;
  color: black;
}

#section1 th:hover {
  background-color: rgb(19, 219, 19) !important;
  cursor: pointer;
}

#quiz table {
  border: 1px solid black;
  font-size: large;
  color: black;
  cursor: pointer;
}
#quiz th {
  border: 1px solid black;
  font-size: large;
  color: black;
  cursor: pointer;
}
#quiz td {
  border: 1px solid black;
  font-size: large;
  color: black;
  cursor: pointer;
}
.backRed {
  background-color: red;
}
.backGreen {
  background-color: yellowgreen;
}

#section1 th:hover {
  background-color: rgb(19, 219, 19) !important;
  cursor: pointer;
}
/* Styling for the table in exercise 4; days and months page */
#section4 table {
  border: 1px solid black;
  font-size: large;
  color: black;
}
#section4 th {
  border: 1px solid black;
  font-size: large;
  color: black;
  cursor: pointer;
}
#section4 td {
  border: 1px solid black;
  font-size: large;
  color: black;
}

/*Styling for the first exercises on page 3: ABC table*/

#section3_1 table {
  border: 1px solid black;
  font-size: large;
  margin-left: auto;
  margin-right: auto;
}

#section3_1 th {
  font-size: large;
  cursor: pointer;
  padding: 1em;
}
#section3_1 th:hover {
  border: 2px dotted black; /*Create a dotted box when hovering*/
  background-color: yellowgreen;
}

/* Styling for third exercise on page 3: Listen and type letter */
#section3_3 table {
  border: 2px solid black;
}

#section3_3 input {
  border: 1px dashed grey;
  width: 10%;
}

#section3_3 button:hover {
  cursor: pointer;
}

/* Styling for the fourth exercise on page 3: Write letters in right order */

#section3_4 {
  margin: 0;
  padding: 0;
}

#section3_4 p {
  margin: 0;
  padding: 0;
}

.let_order {
  border-bottom: solid black;
  width: 1.5%;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.right_order {
  border-bottom: solid green;
  width: 1.5%;
  user-select: none;
  text-transform: capitalize;
}

.wrong_order {
  border-bottom: dotted red;
  width: 1.5%;
  user-select: none;
  text-transform: capitalize;
}

/* Change the background color of answers */
.backRed {
  background-color: red;
}

.backGreen {
  background-color: yellowgreen;
}

/*Remove pointer and clickability*/
.noclick {
  pointer-events: none;
  cursor: none;
}

th {
  text-align: center;
  width: 150px;
}
#quiz th:hover {
  background-color: rgb(19, 219, 19) !important;
}

.correct {
  background-color: greenyellow;
}

.incorrect {
  background-color: red;
}

#question1 {
  display: none;
}
#question2 {
  display: none;
}
#question3 {
  display: none;
}

#startoButton {
  width: 100px;
  font-size: 150%;
}

#startoButton:hover {
  background-color: rgb(206, 255, 133);
}
.green {
  color: yellowgreen; /*The same as correct above*/
}
.red {
  color: red; /*The same as correct above*/
}
.ul {
  text-decoration: dotted underline;
}

.fillInBlankCapital {
  width: 16px;
  text-align: center;
}
.fillInBlank {
  text-align: center;
  width: 14px;
}
.divide {
  display: none;
}

.matchTable {
  border: 1px solid black;
  font-size: large;
  color: black;
  cursor: pointer;
}

.matchTable tr {
  border: 1px solid black;
  font-size: large;
  color: black;
  cursor: pointer;
  height: 50px;
}
.disable {
  background-color: rgb(179, 179, 179);
  color: ghostwhite;
  cursor: not-allowed;
}
.disable {
  background-color: rgb(179, 179, 179);
  color: ghostwhite;
  cursor: not-allowed;
}

/*Carter drag and drop (section 5)*/
#div1 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
#div2 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
#div3 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
#div4 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
#div5 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
#div6 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
#div7 {
  width: 150px;
  height: 55px;
  border: 1px solid #aaaaaa;
  display: inline-block;
}
#drag1 {
  width: auto;
  height: 50px;
  display: inline;
}
#drag2 {
  width: auto;
  height: 50px;
  display: inline;
}
#drag3 {
  width: auto;
  height: 50px;
  display: inline;
}
#drag4 {
  width: auto;
  height: 50px;
  display: inline;
}
#drag5 {
  width: auto;
  height: 50px;
  display: inline;
}
#drag6 {
  width: auto;
  height: 50px;
  display: inline;
}
#drag7 {
  width: auto;
  height: 50px;
  display: inline;
}
#div1 img {
  text-align: center;
  width: auto;
  height: 100%;
}
#div2 img {
  text-align: center;
  width: auto;
  height: 100%;
}
#div3 img {
  text-align: center;
  width: auto;
  height: 100%;
}
#div4 img {
  text-align: center;
  width: auto;
  height: 100%;
}
#div5 img {
  text-align: center;
  width: auto;
  height: 100%;
}
#div6 img {
  text-align: center;
  width: auto;
  height: 100%;
}
#div7 img {
  text-align: center;
  width: auto;
  height: 100%;
}

.dragDiv {
  display: inline-block;
  width: 150px;
  height: 54px;
  border: 2px solid black;
}
#confirmMessage {
  font-size: x-large;
  font-weight: bold;
}
.screenSizeError {
  display: none;
}
.screenSizeErrorDnD {
  display: none;
}
@media only screen and (max-width: 540px) {
  #matchParent {
    display: none;
  }

  .screenSizeError {
    display: block;
  }
}
@media only screen and (max-width: 1200px) {
  #dragAndDropContainer {
    display: none;
  }

  .screenSizeErrorDnD {
    display: block;
  }
}
